<?xml version="1.0" encoding="UTF-8" ?>

<!--配置文件的约束文件-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--数据库的连接的配置信息-->
<configuration>
    <!--settings:控制mybatis全局行为-->
<settings>
<!--    设置mybatis输出日志 ，name值表示要控制日志，  value表示日志的输出位置，当前输出到控制台上-->
    <setting name="logImpl" value="STDOUT_LOGGING"/>
</settings>


<!--    环境配置，就是数据库的连接信息，可以有多个数据库的配置信息
            default表示使用那个数据库，
-->
    <environments default="development">
        <!--        其中一个数据库的配置信息
                id:一个唯一值，自定义，表示环境的名称。
        -->
        <environment id="development">
<!--            transactionManager：mybatis的事务类型，
                    type：JDBC(表示使用jdbc中的Connection对象的commit，rollback做事务处理。)
    -->
            <transactionManager type="JDBC"/>
<!--            表示数据源，连接数据库的具体信息
                    type：表示数据源的类型， POOLED表示使用连接池。
-->
            <dataSource type="POOLED">
<!--                name属性中的driver，url，username，password是固定的，不能任意修改的。-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>


<!--    指定sql mapper(sql映射文件的位置)-->
    <mappers>
<!--        一个mapper标签指定一个文件的位置，从类路径开始加载。-->
        <mapper resource="com/bjpowdernode/dao/StudentDao.xml"/>
    </mappers>


</configuration>